
.nav-body{
    padding:10px;
    display:flex;
    justify-content:space-between;
}.right-nav button{
    margin:0px 5px 0px 5px;
}.dashboard-cards{
    display:grid;
    grid-template-columns: auto auto auto;
}.dashboard-cards > div{
  text-align:center;
   border:1px solid #092635;
    border-radius:10px;
   margin:0px 5px 10px 5px;
   padding-top:5px;
   background-color: #5C8374;
}.dashboard-cards div > *{
  color:white;
}
.chart-container{
    width:50%;
    height:50vh;
    margin-top:20px;
    border:1px solid #092635;
}.chart-content {
    display:flex;
    flex-wrap:wrap;
} .title {
    text-align:center;
    margin:0;
}#banner_header {
    text-align:center;
    margin:20px;
}#chart-blank{
  height:49vh;
  display:grid;
  place-items:center;
}#chart-blank h3{
  color:#B6C4B6;
}